@model User
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rntr</title>
        <link rel="stylesheet" href="~/css/index.css"/>
        <link href="https://fonts.googleapis.com/css?family=Biryani:900&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class = "headercontainer">
            <div class = "header">
                <h1> Rntr - Why buy it when you can rent it? </h1>
                <a href = "/login">Login</a>
            </div>
        </div>

        <div class = "registrationcontainer">
            <div class = "registrationform">
                <h2>Registration</h2>
                <br>
                    <div class = "forminputs">
                        <form action="register" method="Post" enctype = "multipart/form-data">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName">
                            <span asp-validation-for="FirstName"></span>
                            <br>
                            <br>

                            <label asp-for="LastName"></label>
                            <input asp-for="LastName">
                            <span asp-validation-for="LastName"></span>
                            <br>
                            <br>

                            <label asp-for="Email"></label>
                            <input asp-for="Email">
                            <span asp-validation-for="Email"></span>
                            <br>
                            <br>

                            <label asp-for="Password"></label>
                            <input asp-for="Password">
                            <span asp-validation-for="Password"></span>
                            <br>
                            <br>

                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <br>
                    <br>
                    <br>
                        <div class = "formbutton">
                            <input type="submit" value="Sign Up Now!">
                        </div>
                        <br>
                        <div class = "resetbutton">
                            <input type="reset" value = "Reset">
                        </div>
                        </form>
            </div>
        </div>
</body>

</html>