<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rntr</title>
        <link rel="stylesheet" href="~/css/requestprocessedview.css"/>
<link href="https://fonts.googleapis.com/css?family=Biryani:900&display=swap" rel="stylesheet"></head>
<body>

<div class = "header">
<h1> Your Rental request has been successfully processed, check your My Rentals page for accepted rental requests</h1>
</div>
<br>
<br>
<div class = "logout">
<h3> <a href = "/logout">Logout</a><h3>
</div>

<div class = "back">
<h3> <a href = "/dashboard">Back to dashboard</a><h3>
</div>

</body>

</html>