body {
    display: flex;
    align-items: flex-start;
}

.headercontainer{
    display: flex;
    color: #d0ceba;
}

.welcomemessage {
    border: 5px solid #946E83;
    border-radius: 25px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
}

.welcomemessage>a {
    font-size: 32pt ;
    position: relative;
    left:275px;
}


.welcomemessage img{
    border: 5px solid #946E83;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display:flex;
}

.myprofilelink a {
    color: #d0ceba;
}

.navbarcontainer {
    display: flex;
    color: #d0ceba;
    flex-direction: row;
}

.navbar {
    border: 5px solid #946E83;
    border-radius: 25px;
    padding: 1%;
    width: 20%;
}

.navbar a{
    color: #d0ceba;
}

.explanation {
    padding: 3%;
    color: #cdd5d1;
}

.AllToolsHeader {
    color: #d0ceba;
    text-align: center;
}

#ToolImage {
    height:100px;
    width: 100px;
    display:flex;
}

.ToolContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

.OneTool {
    display: inline-block;
    flex-flow: column;
    align-content: center;
    width: 250px;
    height: 250px;
    color: #cdd5d1;
    border: 5px solid #cdd5d1;
    border-radius: 20px;
    margin: 10px;
}

.OneTool img{
    border-radius: 20px;
    border-color: #cdd5d1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
