.header{
    border: 5px solid #946E83;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    color: #d0ceba;
}

.header img{
    border: 5px solid #946E83;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display:flex;
}


.maincontainer {
    display: flex;
    color: #d0ceba;
    flex-direction: row;
}

.navbar {
    border: 5px solid #946E83;
    border-radius: 25px;
    padding: 1%;
    width: 20%;
}

.profileinfo{
    padding: 10%;
}

.AllToolsHeader {
    color: #d0ceba;
    text-align: center;
}

.ToolContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

.OneTool {
    display: inline-block;
    flex-flow: column;
    align-content: center;
    width: 250px;
    height: 250px;
    color: #cdd5d1;
    border: 5px solid #cdd5d1;
    border-radius: 20px;
    margin: 10px;
}

.OneTool img{
    border: 5px solid red;
    border-radius: 20px;
    border-color: #cdd5d1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ToolImage {
    height:100px;
    width: 100px;
    display:flex;
}