.header {
    color: #d0ceba;
    text-align: center;
}

.ToolContainer {
    /* border: 1px dashed red; */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    }
    
    .OneTool {
        
        display: inline-block;
        flex-flow: column;
        align-content: center;
        width: 250px;
        height: 250px;
        color: #cdd5d1;
        border: 5px solid #cdd5d1;
        border-radius: 20px;
        margin: 10px;
    }
    
    .OneTool img{
        /* border: 5px solid red; */
        border-radius: 20px;
        border-color: #cdd5d1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #ToolImage {
        /* border: 1px dashed red; */
        height:100px;
        width: 100px;
        display:flex;
    }